/* Linkeo de partials */
/* Nav */
.logo1 {
  width: 70%;
  padding: 5%; }

.vinculo {
  color: #5efdc7;
  font-size: 20px;
  text-decoration: none;
  border-left: solid 3px #5efdc7;
  padding: 0px 20px; }

.bgNav {
  background-color: #020435; }

/* Fin de Nav */
/* Footer */
.imgFooter {
  margin-left: 15%;
  width: 8%;
  height: 100%;
  padding-bottom: 15px; }

.yoFoot {
  display: flex;
  position: relative; }

.yo {
  left: 50%;
  padding-top: 10%; }

.logo2 {
  margin-top: 21%;
  width: 100%; }

/* Fin Footer */
/* Conocimientos */
/* Mixin */
.carousel {
  width: 60%;
  height: 60%;
  margin-left: 20%; }
  .carousel__imgCon {
    width: 100px;
    height: 400px; }

.carousel-indicators {
  display: flex;
  position: relative;
  top: 145%; }

.carouselBotones {
  margin: -50px -50px; }

.pCar {
  color: azure;
  font-size: 18px;
  text-align: center;
  padding: 15px; }

.hCon {
  padding: 15px;
  text-align: center;
  color: azure; }

.fondoTraslucidoConocimientos {
  background-color: rgba(99, 251, 200, 0.5);
  border-radius: 30px;
  margin: 0%; }

/* Fin Conocimientos */
/* Contacto */
.form {
  border-bottom: 1px solid azure;
  color: azure;
  font-size: 21px;
  padding: 14px 0px;
  width: 100%; }

.inputs {
  background-color: rgba(99, 251, 200, 0);
  border: none;
  width: 100%;
  color: azure; }

select {
  background-color: rgba(99, 251, 200, 0);
  border: none;
  width: 250px;
  color: azure;
  padding: 30px 15px;
  font-size: 21px; }

.formulario {
  padding: 3% 1% 3% 7%;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/fondoContacto.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .formulario__opciones {
    padding: 4px; }

.boton {
  text-align: center;
  width: 30%;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 9%;
  font-size: 22px; }

.imgCon {
  height: 100%;
  width: 100%; }

.fondoTraslucidoCon {
  background-color: rgba(99, 251, 200, 0.5);
  border-radius: 30px;
  margin: 0%; }

/* Fin Contacto */
/* Index */
.fondoIndex {
  background-image: url(../assets/images/fondo.jpg);
  height: 38rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .fondoIndex__presentacion {
    padding-top: 150px;
    padding-left: 100px; }
    .fondoIndex__presentacion__textIndex {
      color: azure;
      padding-top: 10px; }

.imgRob {
  background-size: cover;
  width: 100%; }

.fondoTraslucidoIndex {
  background-color: rgba(99, 251, 200, 0.5);
  border-radius: 30px;
  margin: 0% 15%; }

/* Fin index */
/* Map */
.imgQuien {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin-left: 39%;
  margin-top: 5%; }

.fondoTraslucidoQuien {
  background-color: rgba(99, 251, 200, 0.5);
  border-radius: 30px;
  margin: 0% 15%; }

.pro__titulo {
  text-align: right;
  color: peru; }

.pro__parrafo {
  text-align: right; }

.textPro {
  text-align: center;
  height: 250px;
  opacity: 0%; }

.proImg {
  background-image: url(../assets/images/proyectos1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border: 5px solid azure;
  margin: 0px 4%;
  padding: 0px 0px;
  background-size: cover; }

.proImg2 {
  background-image: url(../assets/images/proyectos2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border: 5px solid azure;
  margin: 0px 4%;
  padding: 0px 0px;
  display: flex;
  background-size: cover; }

.cod {
  text-decoration: none;
  width: 530px; }

.fondoTraslucidoPro {
  background-color: rgba(99, 251, 200, 0.5);
  border-radius: 30px;
  margin: 0%; }

/* Index */
.animacion:hover {
  width: 8%;
  height: 100%;
  animation-name: animacion;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0ms; }

@keyframes animacion {
  33% {
    transform: rotate(30deg); }
  66% {
    transform: rotate(-30deg); } }

/* Contacto */
.boton:hover {
  width: 30%;
  height: 40px;
  animation: none;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  transition: 0.7s;
  background-color: #5efdc7; }

/* Proyectos */
.textImg:hover {
  width: 101%;
  opacity: 100%;
  animation-name: textPro;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
  padding-top: 190px;
  transition: 1s; }

@keyframes textPro {
  0% {
    background-color: rgba(0, 0, 0, 0.5); }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }

.error {
  font-size: 50px;
  text-align: center;
  padding-top: 3%; }

.aerror {
  font-size: 50px;
  text-align: center;
  margin-top: 25%;
  margin-left: 40%; }

.eerror {
  font-size: 50px;
  text-align: center;
  padding-top: 25%; }

.eror {
  background-image: url(../assets/images/fondo.jpg);
  width: 66%;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* Viista mobile */
@media only screen and (max-width: 577px) {
  /* Menu */
  .logo1 {
    width: 50%;
    padding: 5%; }
  .vinculo {
    color: #5efdc7;
    font-size: 20px;
    text-decoration: none;
    border-left: none;
    padding: 0px 20px; }
  .bgNav {
    background-color: #020435;
    margin-bottom: 10%; }
  .navbar-toggler-icon {
    position: relative;
    background-color: #5efdc7;
    width: 40px;
    height: 40px;
    border-radius: 5px; }
  .navbar-nav {
    border-right: 3px solid #5efdc7; }
  /* Fin de menu */
  /* index */
  .fondoIndex {
    background-image: url(../assets/images/fondoCelu.jpg);
    height: 430px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .fondoIndex__presentacion {
      text-align: center;
      padding: 0px 65px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
      margin-top: 20%; }
      .fondoIndex__presentacion__textIndex {
        color: azure;
        padding-top: 10px; }
  /* Fin index */
  /* Conocimientos */
  .carousel {
    width: 60%;
    height: 60%;
    margin-left: 20%; }
    .carousel__imgCon {
      width: 150px;
      height: 250px; }
  /* Fin de conocimientos */
  /* Contacto */
  form {
    width: 100%;
    height: 100%;
    margin: 0% 0%; }
  .inputs {
    background-color: #020435;
    border: none;
    width: 200px;
    color: azure; }
  select {
    background-color: #020435;
    border: none;
    color: azure;
    padding: 15px;
    font-size: 21px; }
  .boton {
    text-align: center;
    width: 45%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2%;
    font-size: 18px; }
  .boton:hover {
    width: 45%;
    height: 40px;
    animation: none;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    transition: 0.7s;
    background-color: #5efdc7; }
  /* Fin de contacto */
  /* Proyectos */
  .textPro {
    text-align: center;
    height: 250px;
    opacity: 0%; }
  .proImg {
    background-image: url(../assets/images/proyectos1celu.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 23rem;
    border: 5px solid azure;
    margin: 40px;
    padding: 0px 0px; }
  .proImg2 {
    background-image: url(../assets/images/proyectos2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 23rem;
    border: 5px solid azure;
    margin: 40px;
    padding: 0px 0px; }
  .textImg:hover {
    width: 100%;
    opacity: 100%;
    animation-name: textPro;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0ms;
    padding-top: 23rem;
    transition: 1s; }
  /*FIn Proyectos */
  /* Footer */
  .imgFooter {
    margin: 7% 5%;
    width: 14%;
    height: 50%;
    padding: 0%; }
  .animacion:hover {
    width: 14%;
    height: 50%;
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0ms; }
  @keyframes animacion {
    33% {
      transform: rotate(30deg); }
    66% {
      transform: rotate(-30deg); } }
  .logo2 {
    width: 50%;
    margin: 0% 87%; }
  .tituloFoot {
    padding: 0px;
    text-align: center; }
  .yo {
    position: relative;
    left: 28%;
    bottom: 30%;
    width: 200px; }
  .fondoTraslucido {
    background-color: rgba(99, 251, 200, 0.5);
    border-radius: 30px;
    padding: 5%;
    margin: 0% 5%; }
  /* Fin de footer */
  /* Quien Soy? */
  .imgQuien {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 0% 30%; } }

/* Viista mobile */
@media only screen and (min-width: 578px) and (max-width: 768px) {
  /* Menu */
  .menu__logo {
    width: 100px;
    height: 80px;
    padding: 10px; }
  .menu__vinculo {
    width: 300px;
    height: 50px;
    color: #5efdc7;
    padding: 5px 15px;
    font-size: 23px;
    text-decoration: none;
    border-right: 3px solid #5efdc7; }
  .navbar-nav {
    padding-left: 60%;
    border-right: 3px solid #5efdc7; }
  .borde {
    border-right: solid 3px #020435;
    border-left: none; }
  .derecha {
    text-align: right; }
  .navbar-toggler {
    margin-left: 91%; }
  .navCel {
    padding: 14px;
    display: flex;
    position: relative;
    bottom: 70px; }
  .nav-item {
    height: 40px; }
  /* Fin de menu */
  /* index */
  .fondoIndex {
    background-image: url(../assets/images/fondoCelu.jpg);
    height: 560px;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .fondoIndex__presentacion {
      text-align: center;
      padding: 0px 100px;
      margin-top: 20%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg"); }
      .fondoIndex__presentacion__textIndex {
        color: azure;
        padding-top: 10px; }
  /* Fin index */
  /* Conocimientos */
  .carousel {
    width: 60%;
    height: 60%;
    margin-left: 20%; }
    .carousel__imgCon {
      width: 150px;
      height: 450px; }
  /* Fin de conocimientos */
  /* Contacto */
  form {
    width: 100%;
    height: 100%;
    margin: 0% 0%; }
  .inputs {
    background-color: #020435;
    border: none;
    width: 200px;
    color: azure; }
  select {
    background-color: #020435;
    border: none;
    color: azure;
    padding: 15px;
    font-size: 21px; }
  .boton {
    text-align: center;
    width: 45%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2%;
    font-size: 18px; }
  .boton:hover {
    width: 45%;
    height: 40px;
    animation: none;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    transition: 0.7s;
    background-color: #5efdc7; }
  /* Fin de contacto */
  /* Proyectos */
  .textPro {
    text-align: center;
    height: 250px;
    opacity: 0%; }
  .proImg {
    background-image: url(../assets/images/proyectos1celu.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 38%;
    height: 23rem;
    border: 5px solid azure;
    margin: 40px;
    padding: 0px 0px; }
  .proImg2 {
    background-image: url(../assets/images/proyectos2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 38%;
    height: 23rem;
    border: 5px solid azure;
    margin: 40px;
    padding: 0px 0px; }
  .textImg:hover {
    width: 100%;
    opacity: 100%;
    animation-name: textPro;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0ms;
    padding-top: 23rem;
    transition: 1s; }
  /*FIn Proyectos */
  /* Footer */
  .imgFooter {
    margin: 0% 5%;
    width: 14%;
    height: 95%;
    padding: 5% 0%; }
  .animacion:hover {
    width: 19%;
    height: 53%;
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0ms; }
  @keyframes animacion {
    33% {
      transform: rotate(30deg); }
    66% {
      transform: rotate(-30deg); } }
  /* Fin de footer */
  /* Quien Soy? */
  .imgQuien {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 0% 40%; } }

/* Fin Linkeo de partials */
/* Variables comunes */
b {
  font-weight: bold; }

body {
  background-color: #020435; }

.centro {
  text-align: center;
  padding: 50px; }

p {
  color: azure;
  text-align: center;
  font-size: 18px;
  padding: 5px; }

h1, h2, h3 {
  color: azure; }

/* Fin VC */
/* Proyectos*/
/* Fin Proyectos */
/* Quien Soy */
/* Fin Quien Soy */
