.error{
    font-size: 50px;
    text-align: center;
    padding-top: 3%;
}
.aerror{
    font-size: 50px;
    text-align: center;
    margin-top: 25%;
    margin-left: 40%;
}
.eerror{
    font-size: 50px;
    text-align: center;
    padding-top: 25%;
}
.eror{
    background-image:url(../assets/images/fondo.jpg);
    width: 66%;
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}