/* Footer */
    .imgFooter{
        margin-left: 15%;
        width: 8%;
        height: 100%;
        padding-bottom: 15px;
    }
    .yoFoot{
        display: flex;
        position: relative;
    }
    .yo{
        left: 50%;
        padding-top: 10%;
    }
    .logo2{
        margin-top: 21%;
        width: 100%;
    }
/* Fin Footer */