/* Footer */
    .imgFooter{
        margin-left: 15%;
        width: 8%;
        height: 40%;
        padding-bottom: 15px;
    }
    .yoFoot{
        display: flex;
        position: relative;
    }
    .yo{
        position: relative;
        left: 35%;
        bottom: 25%;
    }
    .logo2{
        margin-top: 1%;
        width:  25%;
    }
    .tituloFoot{
        padding: 15px 0px;
        text-align: center;
    }
    a{
        text-decoration: auto;
    }
/* Fin Footer */