/* Index */



.fondoIndex{
    background-image:url(../assets/images/fondo.jpg);
    height: 38rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__presentacion{
        padding-top: 150px;
        padding-left: 100px;
        &__textIndex{
            color:$texto;
            padding-top: 10px;
        }
    }
    
}
.imgRob{
    background-size: cover;
    width: 100%;
}
.fondoTraslucidoIndex{
    background-color:rgba(99, 251, 200, 0.5);
    border-radius: 30px;
    margin: 0% 1%;
}
.pIndex{
    padding: 6%;
}
/* Fin index */