/* Nav */   
.logo1{
    width: 70%;
    padding: 5%;
}
.vinculo{
    color: $celeste;
    font-size: 20px;
    text-decoration: none;
    border-left:solid 3px $celeste;
    padding:0px 20px ;
}
.bgNav{
    background-color: $fondo;
}



/* Fin de Nav */

