/* Map */



.imgQuien{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 0% 42%;
    margin-top: 5%;
}
.fondoTraslucidoQuien{
    background-color:rgba(99, 251, 200, 0.5);
    border-radius: 30px;
    margin: 0% 15%;
}
