/* Viista mobile */
@media only screen and (max-width:577px)
{
    /* Menu */
    .menu{
        &__logo{
            width: 100px;
            height: 80px;
            padding: 10px;
        }
        &__vinculo{
            width: 300px;
            height: 50px;
            color: $celeste;
            padding:5px 15px;
            font-size: 18px;
            text-decoration: none;
            
        }
    }
        .navbar-nav{
            padding-left: 58%;
            border-right:3px solid $celeste;
            margin: 5% 0% 0% 3%;
        }
        .borde{
            border-left: none;
            
        }
        .navbar-toggler{
            margin-left: 84%;
        }
        .navCel{
            padding: 10px;
            display: flex;
            position: relative;
            bottom: 70px;
        }
        .nav-item1{
            margin-left: 72%;
            padding: 1%;                                             
        }
        .nav-item2{
            margin-left: 59%;
            padding: 1%;
        }
        .nav-item3{
            margin-left: 41%;
            padding: 1%;  
        }
        .nav-item4{
            margin-left: 69%;
            padding: 1%;  
        }
        .nav-item5{
            margin-left: 63%;
            padding: 1%; 
        }
    /* Fin de menu */

    /* index */
    .fondoIndex{
        background-image:url(../assets/images/fondoCelu.jpg);
        height: 430px;
        width: 100% ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &__presentacion{
            text-align: center;
            padding:0px 65px;
            background-image: $traslucido;
            &__textIndex{
                color:$texto;
                padding-top: 10px;
            }
        }
        
    }
    /* Fin index */
        
    /* Conocimientos */
    .carousel{
        width: 60%;
        height: 60%;
        margin-left: 20%;
        &__imgCon{
            width: 150px;
            height: 250px;
        }
    }
    /* Fin de conocimientos */

    /* Contacto */
        form{
            width: 100%;
            height: 100%;
            margin: 0% 0%
        }
        .inputs{
            background-color: $fondo;
            border: none;
            width: 200px;
            color: $texto;
            
        }
        select{
            background-color: $fondo;
            border: none;
            color: $texto;
            padding: 15px;
            font-size: 21px;
        }
        .boton{
            text-align: center;
            width: 45%;
            height: 40px;
            border: 1px solid black;
            border-radius: 10px;
            margin: 2%;
            font-size: 18px;
        }
        .boton:hover{
            width: 45%;
            height: 40px;
            animation: none;
            animation-iteration-count: infinite ;
            animation-duration: 2s;
            animation-timing-function: ease-in;
            animation-delay: 0s;
            transition: 0.7s;
            background-color:$celeste;
        }
    /* Fin de contacto */

    /* Proyectos */
    .textPro{
        text-align: center;
        height: 250px;
        opacity: 0%;
    }
    .proImg{
        background-image: url(../assets/images/proyectos1celu.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 80%;
        height: 23rem;
        border: 5px solid $texto;
        margin: 40px;
        padding: 0px 0px;    
    }
    .proImg2{
        background-image: url(../assets/images/proyectos2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 80%;
        height: 23rem;
        border: 5px solid $texto;
        margin: 40px;
        padding: 0px 0px; 
    }
    .textImg:hover{
        width: 100%;
        opacity: 100%;
        animation-name: textPro;
        animation-iteration-count: infinite;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-delay: 0ms;
        padding-top: 23rem ;
        transition: 1s;
    }    
    
    /*FIn Proyectos */
    /* Footer */
        .imgFooter{
            margin: 0% 15%;
            width: 19%;
            height: 53%;
            padding: 5% 0%;
        }
        .animacion:hover{
            width: 19%;
            height: 53%;
            animation-name: animacion;
            animation-iteration-count: infinite;
            animation-duration: 1.5s;
            animation-timing-function: ease-in;
            animation-delay: 0ms;
        }
        @keyframes animacion {
            33%{transform:rotate(30deg)}
            66%{transform:rotate(-30deg)}
        
        }
    /* Fin de footer */
    /* Quien Soy? */
    .imgQuien{
        border-radius: 100%;
        width: 150px;
        height: 150px;
        margin: 0% 30%;
    }
} 