/* Linkeo de partials */
    @import "colores";
    @import "fuentes";
    @import "nav";
    @import "footer";
    @import "conocimientos";
    @import "contacto";
    @import "index";
    @import "quienSoy";
    @import "proyectos";
    @import "animaciones";
    @import "404";
    @import "vistaMobile";
    @import "vistaTablet";
/* Fin Linkeo de partials */

/* Variables comunes */
b{
    font-weight: bold;
}
body{
    background-color:$fondo;
}
.centro{
    text-align: center;
    padding: 50px;
}
p{
    color:$texto;
    text-align: center;
    font-size: 18px;
    padding: 5px; ;
}
h1,h2,h3 {
    color:$texto;
}

/* Fin VC */





/* Proyectos*/

/* Fin Proyectos */





/* Quien Soy */

/* Fin Quien Soy */




